<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="selenium webdrive">
    <test verbose="2" preserve-order="true" name="Run on Firefox browsre">
        <classes>
            <class name="testng.Topic_02_Annotations"/>
            <class name="webdriver.Topic_00_Template"/>
        </classes>
    </test>
</suite>